[mysqld]

# 访问端口
# port 3306

# 绑定IP，默认为0.0.0.0
# bind-address 0.0.0.0

# mysql的安装目录
# basedir=/temp

# mysql数据库的存放目录
datadir=/var/lib/mysql

# mysql数据库错误日志存放目录
# log-error=/var/lib/mysql/log/error.log

# mysql服务端默认编码
character-set-server=utf8

# mysql服务器默认引擎
default-storage-engine=INNODB

# 忽略表名大小写
# lower_case_table_names=1

# mysql最大连接进程数
# 默认为100，可调整的最大值为16384
# max-connection=100

# 默认时区
# default-time-zone=system

###################### INNODB引擎配置 #######################

# 调整mysql缓存池大小
# 实际生产中需要调整到系统内存的70%~80%以提高数据库性能而不浪费
# innodb_buffer_pool_size=1G

######################### 测试配置 ##########################

# 开启慢查询日志
# slow_query_log=1

# sql执行触发慢查询时间
# long_query_time=10

# 慢查询记录存放文件
# slow-query_log_file=/var/mysql/slow_query.log

# 记录没有用到索引的数据
# log-queries-not-using-indexes

# 慢查询日志输出格式，默认为FILE
# FILE:表示输出到日志文件中
# TABLE:表示输出到数据库本身的slow_log表中
# log_output=FILE

[mysql]

# mysql客户端默认编码
default-character-set=utf8

# 开启命令补全
no-auto-rehash